.bottomToTop {
    display: block;
    animation: anim-bot-top .25s ease-in-out;
}

@keyframes anim-bot-top {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
.topToBottom {
    display: none;
    animation: anim-top-bot .25s ease-in-out;
}

@keyframes anim-top-bot {
    0% {
        transform: translateY(0);
        display: block;
        opacity: 100%;
    }
    100% {
        transform: translateY(100%);
        display: none;
        opacity: 0%;
    }
}