@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
body {
    @apply bg-bgColor
}
.p-container{
    @apply px-5 md:px-10 lg:px-20 xl:px-36
}
.btn-blue-gradient {
    background: linear-gradient(180deg, rgba(66,139,173,1) 0%, rgba(77,146,178,1) 80%, rgba(70,141,175,1) 100%);
}
.nav-gradient{
    background: linear-gradient(93deg, rgba(232,234,241,1) 0%, rgba(235,236,240,1) 100%);
}
.card-services{
    box-shadow: 3px 3px 10px #00000057, -10px -10px 10px white;
}
.shadowBtn{
    box-shadow: 8px 8px 5px #0000001b, -8px -8px 5px white
}
.inputStyle{
    @apply py-2 px-2 bg-inputColor border card-services rounded-full w-full placeholder:text-inputPlaceholder placeholder:font-semibold outline-none
}
.inputStyleDisable{
    @apply py-2 px-2 disabled:bg-inputColor/5 border disabled:border-black/20 rounded-full w-full disabled:placeholder:text-black/30 placeholder:font-semibold
}
.selectStyleDisable{
    @apply py-2 px-2 disabled:bg-inputColor/5 border disabled:border-black/20 rounded-full w-full disabled:text-black/30 font-semibold
}
.logout{
    background: linear-gradient(180deg, rgba(66,139,173,1) 0%, rgba(77,146,178,1) 80%, rgba(70,141,175,1) 100%);
}
@media (min-width: 768px) {
    .logout {
        background: #ffffff;
    }
}